<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/js/product.js"></script>
    <script defer src="/js/search.js"></script>
    <!-- Favicon -->
    <link rel="icon" href="/image/logo.JPG" type="image/png" />

    <!--font-awesome link-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!--css link-->
    <link rel="stylesheet" href="/css/global.css " />
    <link rel="stylesheet" href="/css/product.css" />
    <title>Document</title>
  </head>

  <body>
   <!--Header section -->
   <header>
    <a href="#" class="logo"
      ><img
        src="/image/logo.jpg"
        alt="store logo image"
        class="logoimg"
      />ShoeTronics</a
    >
    <nav class="navbar">
      <a href="/" class="">Home</a>
      <a class="active" href="/product">Shop</a>
    </nav>
    <div class="icons">
      <i class="fas fa-bars" id="menu-bars"></i>
      <!-- show login button only if authenticated = false -->
      <% if (!authenticated) { %>
      <i class="fas fa-user" id="login-btn"></i>
      <% } else { %>
        <a href="/cart" class="fas fa-shopping-cart" ></a>
      <a href="/user/profile">
        <i class="fas fa-user"></i>
      </a>
      <a href="/user/logout" class="fas fa-sign-out-alt"></a>
      <% } %>
    </div>

    <!--User login form-->
    <div class="login-form-container">
      <div id="close-login-btn" class="fas fa-times"></div>
      <form action="/login" method="post">
        <h3>sign in</h3>
        <span>username</span>
        <input
          type="text"
          name="username"
          class="box"
          placeholder="Enter Username"
          id="username"
        />
        <span>password</span>
        <input
          type="password"
          name="password"
          class="box"
          placeholder="Enter Password"
          id="password"
        />
        <!--            <div class="checkbox">-->
        <!--                <input type="checkbox" name="" id="remember-me">-->
        <!--                <label for="remember-me">remember me</label>-->
        <!--            </div>-->
        <input type="submit" value="sign in" class="btn" />
        <!--            <p>forget password?<a href="#">click here</a></p>-->
        <p>do not have account?<a href="/signup"> Create one</a></p>
      </form>
    </div>
  </header>

    <main>
      <div class="container">
        <div class="filter">
          <div id="search">
            <h1>Product Search</h1>
            <input type="text" id="search-input" placeholder="Enter title..." />
            <button id="search-button">Search</button>
          </div>
          <div id="form">
            <form id="price-range-form">
              <div id="find">
                <div>
                  <label for="min-price" class="form-label">Min price: </label>
                  <input
                    type="number"
                    class="form-input"
                    id="min-price"
                    step="4"
                    placeholder="Min price"
                  />
                </div>
                <div>
                  <label for="max-price" class="form-label">Max price: </label>
                  <input
                    type="number"
                    class="form-input"
                    id="max-price"
                    step="1"
                    placeholder="Max price"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div id="display-items-div">
              <% products.forEach(function(product){ %>
              <div class="product-card" data-price="<%= product.price %>">
                <img
                  src="<%= product.thumbnail %>"
                  alt="products"
                  width="100%"
                  height="300px"
                />
                <div class="name"><b><%= product.title %></b></div>
                
                <div class="text-limit">
                  <%= product.description %>
                </div>
                <div class="price">
                  <b><%= product.price %> $</b>
                </div>
                <div class="btn">
                  <a href="/product/<%= product._id %>"
                    >View Product</a
                  >
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--Fotter-->
    <section class="fotter">
      <nav class="navbar" id="navbar">
        <a href="#">About Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms</a>
        <a href="#">Copyright</a>
        <a href="#">Contact Us </a>
      </nav>
    </section>

    <!--js link-->
    <script src="/js/script.js"></script>
  </body>
</html>
